$navBar: #9b3232;


body {
  font-family:"Roboto", serif;
  margin:0px;
  background-color: #3a3432;
  color: beige;
}

.settings-link {
  // Hidden for now, since it's irrelevant to the demo.
  display:none;
}

.logout {
  font-size:1.5em;
  margin-left: 0px;
  color: beige;
  @media all and (min-width:600px){
    margin-left: 10px;
  }
}

.settings {
  font-size:1.5em;
  margin-left: 0px;
  color: beige;
  @media all and (min-width:600px){
    margin-left: 10px;
  }
}

.login-links-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.new-item-input {
  font-size: 2em;
}
.new-item:focus{
	font-size: 1.8em;
	background-color: #ceb5ade6;
	border: 3px solid #9c0a0a;
}

.checkbox-input {
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	font-size:2em;
	text-align:center;
	border:1px solid black;
	border-radius:3px;
}

input[type='checkbox'] {
}
input[type='checkbox']:checked {
}

.profile-pic{
  height:40px;
  width:40px;
  margin-right: 10px;
}

.login-header{
  padding: 1.5em;
  display: flex;
  margin-bottom:25px;
  align-items: center;
  border-bottom:1px solid #ccc;
  justify-content: flex-end;
  .login-text{
    color:#f5f0da;
    font-size: 1.5em;
    .username{
      color: #d2770d;
      font-weight:bold;
    }
  }
}

@media (max-width: 800px){
  .login-header{
     justify-content:space-around;
  }
}

@media (max-width: 600px){
  .login-header{
    flex-flow: column wrap;
    padding:0;
    border-radius:3px;
  }
  .login-text{
    margin-bottom: 1em;
    padding: .5em;
    border: 2px solid beige;
    border-radius: 4px;
  }
  .navItems{
    text-align:center;
    border-top: 2px solid white;
	  background-color: #9b3232;
	  width: 100vw;
    padding: 10px;

  }

  .navItems:hover,
  .navItems:active {
    background-color: darken($navBar, 3%);
  }

  .todo-item-text{
    overflow-x: scroll;
  }

}


.new-item{
	font-size:1.8em;
  @media (max-width: 600px){
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.todo-item-root {
	margin-bottom:10px;
}

.todo-item-text{
	font-size: 1.8em;
	padding-left:10px;
  max-width: 90%;
  border-bottom: 2px solid beige;
	&.done {
		text-decoration: line-through;
		color: #888;
	}
}
.todo-item-container{
	display:flex;
	align-items: center;
}
.todo-item-label{

}

.flex-content{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.controls{
	display:flex;
	align-items:center;
}

.cleanup-button{
	padding:5px;
	display:inline-block;
	background-color: #fff;
	&:hover{
		background:#f0f0f0;
	}
}

.cleanup-button {
  position:relative;
  border: 1px solid black;;
  cursor: pointer;
  display: inline-block;
	margin-left:30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cleanup-button:active {
	top: 2px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
}

.nav-item{
  width: 40vw;
}
.items-list {
  margin-top: 15px;
  max-width: 300px;
  background-color: #622525;
  padding: 2em;
  border: 2px outset beige;
  @media all and (min-width: 700px){
    max-width: 600px;
  }
}

.list-empty-label{
  color: #888;
  margin-left:40px;
}

.signin-button {
  cursor:pointer;
	display: flex;
  width: 50vw;
  justify-content: center;
	align-items:center;
	&-text{
		padding-left:10px;
	}
  margin-right:20px;
	padding:10px;
	border: 1px solid #ccc;
	border-radius:5px;
  margin-bottom: 1.5em;

}


.facebook-signin-logo{
  height: 18px;
  width: 18px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAMAAABhTZc9AAAAM1BMVEU7V53////7/P33+Pvm6vPe4++erM9HYaPs7/bY3uu8xd6uutiXpstfd7BNZ6dGYKM+Wp8D8PpVAAAAS0lEQVQoz2MYIoCfh5OZkZkFuyQvCyMYYJVk52DEI8vGiE+WFSjBzY7LTUxAWT6cLgYbSnVZRiTAJIBPlhWvXi68smz4XTUqS6IsADRcAScdHoCmAAAAAElFTkSuQmCC);
  background-size:18px 18px;
}


.cleanup-button{
  background-color: #de4638;
  color: beige;
}

.listDiv {
	padding: 1em;
	height: 100vh;
	width: 100vw;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.lists{
  color: #d0d0b1;
  font-size: 1.5em;
}

.verifyNumber{
  margin-top: 1em;
  @media screen and (min-width: 600px){
    margin-top: 3em;
    font-size: 1.25em;
  }
}
